Source: swauth
Section: net
Priority: optional
Maintainer: Ondřej Nový <novy@ondrej.org>
Uploaders: Ondřej Nový <novy@ondrej.org>
Build-Depends: debhelper (>= 9),
               openstack-pkg-tools,
               python-all,
               python-pbr,
               python-setuptools,
               python-sphinx (>= 1.1.2),
Standards-Version: 3.9.6
XS-Python-Version: >= 2.6
Homepage: https://github.com/openstack/swauth
Vcs-Browser: https://github.com/openstack/swauth
Vcs-Git: https://github.com/openstack/swauth

Package: python-swauth
Architecture: all
Section: python
Depends: ${python:Depends},
         ${misc:Depends},
         python-eventlet (>= 0.17.4),
         swift-proxy (>= 2.2.0),
Provides: ${python:Provides}
Description:  An alternative authentication system for Swift

Package: swauth-doc
Architecture: all
Section: doc
Depends: libjs-jquery, ${misc:Depends}
Description: The Swauth documentation
 Sphinx documentation for Swauth.
