#!/usr/bin/make -f

include /usr/share/openstack-pkg-tools/pkgos.make

# Verbose mode
#export DH_VERBOSE=1

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -rf doc/build/*
	rm -rf swauth.egg-info
	rm -rf cover
	rm -rf .eggs

override_dh_auto_build:
	dh_auto_build
	python setup.py build_sphinx
